<template>
  <div class="card">
    <div class="card-header bg-transparent border-1">
      <span class="h5 font-weight-light">Question</span>
    </div>

    <div class="card-body">
      <template v-if="socket.playable">
        <div class="p-3" style="background-color: #e0e0e0">
          {{ socket.question }}
        </div>

        <div v-if="!socket.answered" class="clearfix pt-2 mt-1">
          <span>Your answer:</span>
          <div class="float-right">
            <button class="ml-1 btn btn-success" @click="answer(true)">
              True
            </button>
            <button class="ml-1 btn btn-danger" @click="answer(false)">
              False
            </button>
          </div>
        </div>

        <p v-if="socket.answered" class="p-2">
          You already answered the question. Waiting for other players...
        </p>
      </template>

      <div v-if="!socket.playable">
        Correct answer was <b>{{ socket.answer }}</b>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["socket"])
  },

  methods: {
    answer(myAnswer) {
      this.$socket.sendObj({
        answer: myAnswer
      });
    }
  }
};
</script>
