<template>
  <div class="p-2 pt-3 mb-2 border-bottom">
    <h1 class="h2 font-weight-light">
      Math<b>Race</b>
      <small class="pl-2 text-muted h6 font-weight-light"
        >a game for Grab<span class="text-danger">Cad</span> by Yasin
        Aydin</small
      >
    </h1>

    <p class="mt-3 lead mb-1">
      MathRace is a live, browser-based P2P game that supports up to 10 players.
    </p>
  </div>
</template>
