<template>
  <div class="card">
    <div class="card-header bg-transparent border-1">
      <span class="h5 font-weight-light">Scoreboard</span>
    </div>

    <div class="card-body px-0">
      <table>
        <tr
          v-for="score in sortedScores"
          :key="score.id"
          :class="{ 'table-info': score.id == socket.id }"
        >
          <td class="col-3">{{ score.id }}</td>
          <td class="col-9">{{ score.score }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

const sortFn = (c, d) => {
  if (c.score < d.score) return 1;
  else if (c.score > d.score) return -1;
  else return 0;
};

export default {
  computed: {
    ...mapState(["socket"]),
    sortedScores() {
      return (this.socket.scores || []).slice().sort(sortFn);
    }
  }
};
</script>
