<template>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <b>Server</b>: {{ serverName }} | <b>Connection status</b>:
      <span v-if="socket.isConnected" class="text-success">Connected</span>
      <span v-else-if="socket.serverFull" class="text-warning">Full</span>
      <span v-else class="text-danger">Disconnected</span>
    </li>
  </ol>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      serverName: process.env.VUE_APP_WSSERVER
    };
  },

  computed: {
    ...mapState(["socket"])
  }
};
</script>
