<template>
  <div id="app" class="container">
    <PageTitle />

    <ServerStatus />

    <p v-if="socket.serverFull">
      The server is full at the moment. The app will contiue trying to connect
      every once in a while. Please keep this window open. When the server is
      available, the connection will be established automatically.
    </p>

    <div class="container" v-if="socket.isConnected">
      <div class="row">
        <ScoreboardCard
          class="col-sm-3 col-xs-12 px-sm-0 px-xs-5 mr-sm-3 mr-xs-0"
        />

        <GameCard class="col-xl-8 col-sm-7 col-xs-12 px-0" />
      </div>
    </div>
  </div>
</template>

<script>
import GameCard from "./components/GameCard.vue";
import PageTitle from "./components/PageTitle.vue";
import ScoreboardCard from "./components/ScoreboardCard.vue";
import ServerStatus from "./components/ServerStatus.vue";
import { mapState } from "vuex";

export default {
  components: {
    GameCard,
    PageTitle,
    ScoreboardCard,
    ServerStatus
  },

  computed: {
    ...mapState(["socket"])
  }
};
</script>
